* {
    line-height: 2rem;
    font-family: 'Merriweather', serif;
}

body {
    padding: 16px 10%;
}

/* Main-section */
#main-section {
    padding-top: 16px;
    border-radius: 16px;
}

#image {
    display: flex;
    text-align: center;
    align-items: center;
}

#image div#left-card-karlis {
    background: rgba(128, 128, 128, 0.05);
    border-radius: 16px;
}

#image h1 {
    margin-bottom: 1rem;
}

#image h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#main-profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #fff;
    /* border: 8px solid #7fa99875; */
}

#intro-text-content {
    display: flex;
    align-items: center;
}

#intro-text {
    text-align: justify;
}

/* Experience */
#experience p {
    margin-bottom: 0;
}

.timeline span {
    font-weight: bold;
}

/* Footer */
footer {
    color: gray;
    text-align: center;
}